* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #333;
}

#temple.templeall {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
    box-shadow: none;
}

h1, p {
    margin-bottom: 20px;
    text-align: center;
}

.wat-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#watthai.wat {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    height: 300px;  /* Set fixed height for cropping */
    overflow: hidden;
    background-color: transparent;
    text-align: center;
}

#imagewatthai.imagewatthai2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image is cropped and fills the container */
    object-position: center; /* Centers the image */
}

#watthai.wat p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.autoplay-controls {
    display: none;
}
